.button {
    display: block;
    padding: 16px 40px;
    font-size: 18px;
    line-height: 1;
    background-color: #3084fe;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #2e80f7;
    }
}

.ghost {
    background-color: #fff;
    color: #3084fe;
    border: 1px solid #3084fe;

    &:hover {
        background-color: #f9f9f9;
        color: #2e80f7;
        border: 1px solid #2e80f7;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #eceff4;
    font-size: 20px;
    color: #333438;
    cursor: pointer;
  
    &:hover {
      border-color: #dbdde0;
    }
  }

.full {
    width: 100%;
}

.xl {
    padding: 21px 50px;
    font-size: 18px;

    svg {
        font-size: 22px;
    }
}

.iconBefore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.grid {
    display: flex;
    gap: 15px;
}
