.button {
    display: block;
    background-color: #3084fe;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #2e80f7;
    }
}

.full {
    width: 100%;
}

.xl {
    padding: 21px 50px;
    font-size: 19px;

    svg {
        font-size: 22px;
    }
}

.iconBefore {
    display: flex;
    justify-content: center;
    gap: 15px;
}
