.select {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;

  svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%)
  }
}

.selecter {
  width: auto;
  margin: 0;
  padding: 0;
  padding-right: 25px;
  font-size: 19px;
  font-weight: bold;
  color: #000;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

.clone {
  visibility: hidden;
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.dayBox {
  position: relative;
  display: block;
  padding: 15px 10px;
  background-color: #eaebef;
  border-radius: 5px;
  text-align: center;
  line-height: 1;

  &.today {
    background-color: #3084fe;
    color: #fff;
  }

  &:not(.today) {
    cursor: pointer;
  }
}

.slide {
  &:not(:last-child) {
    padding-right: 18px;
  }
}

.number {
  margin-bottom: 5px;
  font-size: 21px;
}

.day {
  font-size: 14px;
}

.hour {
  display: flex;
  
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.bubble {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 10px;
  width: 10px;
  background-color: #f39a00;
  border-radius: 50%;
}

.hourText {
  margin-right: 15px;
  color: #7e7f84;
  font-size: 16px;
}

.spot {
  position: relative;
  flex: 1;
  
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #eeeef0;
  }
}

.hourCard {
  position: absolute;
  top: 50%;
  right: 0;
  left: 20%;
  z-index: 1;
  padding: 15px;
  transform: translateY(-50%);
  background-color: #3084fe;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
