html {
  font-family: var(--font-primary);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  background-color: #eaeef7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-size: 16px;
  font-weight: normal;
  color: #353638;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li {
  margin: 0;
}

#__next {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

label {
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
  font-weight: 600;
}

input[type=text],
textarea {
  display: block;
  width: 100%;
  padding: 15px 20px;
  background-color: #eff3f4;
  border-radius: 5px;
  border: none;
  outline-color: transparent;
  font-size: 14px;
}

textarea {
  resize: none;
}

select {
  width: 100%;
  padding: 15px 20px;
  background-color: #eff3f4;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  appearance: none;
  outline-color: transparent;
  cursor: pointer;
}

.form-inputs {
  margin-bottom: 30px;
}

.form-control {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 415px) {
  #__next {
    padding: 30px;
  }
}
