.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; // Hide create button gradient

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 25%;
    background: linear-gradient(transparent, #fafbfd 40%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
  }
}

.notBottom {
  &::after {
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 414px;
  padding: 30px 30px 100px;
  background-color: #fafbfd;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 28px;
}

.intro {
  display: flex;
  align-items: center;
}

.avatar {
  height: 54px;
  width: 54px;
  margin-right: 15px;
  background-color: #fdd7a6;
  border: 2px solid #fff;
  border-radius: 50%;
}

.greeting {
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 1;
  color: #9ea1a6;
}

.name {
  font-weight: 600;
  font-size: 19px;
  line-height: 1;
  color: #353638;
}

.buttons {
  display: flex;
  gap: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #eceff4;
  font-size: 20px;
  color: #333438;
  cursor: pointer;

  &:hover {
    border-color: #dbdde0;
  }
}

.create {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  width: calc(100% - 60px);
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 19px;
}

.swiper {
  margin-right: -30px;
  margin-bottom: 26px;
  margin-left: -30px;
  padding-right: 30px;
  padding-left: 30px;
}

.swiperWrapper {
  height: auto;
  align-items: stretch;
}

.swiperSlide {
  display: flex;
  height: auto;
}

.swiperSlideInner {
  width: 100%;
  display: flex;
}

.amount {
  margin-left: 10px;
  font-weight: 500;
  color: #87888c;

  &::before {
    content: '('
  }

  &::after {
    content: ')'
  }
}

@media only screen and (min-width: 415px) {
  .wrapper {
    border-radius: 25px;
  }

  .container {
    height: 896px;
  }
}
