.drag {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: -100%;
  left: 0;
  height: calc(100% - 20px);
  touch-action: none;

  &.active {
    bottom: 0;
  }
}

.container {
  position: relative;
  padding: 0 30px 150px;
  background-color: #fff;
  transition: transform 0.25s ease;
  border-radius: 20px 20px 0 0;
}

.header {
  margin-bottom: 22px;
  text-align: center;
  border-bottom: 1px solid #e5e6e8;
}

.title {
  margin-top: 17px;
  margin-bottom: 24px;
  font-size: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  transition: opacity 0.5s;
  opacity: 1;

  &.hide {
    opacity: 0;
    pointer-events:none;
  }
}

.top {
  position: relative;
  padding-top: 23px;
  cursor: grab;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 95px;
    transform: translateY(-50%) translateX(-50%);
    background-color: #dcdde1;
  }
}
