.container {
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%)
    }
}

.select {
    width: 100%;
    padding: 15px 20px;
    background-color: #eff3f4;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    appearance: none;
    outline-color: transparent;
    cursor: pointer;

    &:invalid {
        color: #929395;
    }

    option {
        color: #353638;
    }
}
